<!-- Jumbotron -->
{{> jumbotron}}
<!-- Jumbotron -->

<!-- list of user questions -->
<div class="questions-container">
    <h1 class="title">User Questions</h1>
    <ol id="questions-container" class="questions">
        {{#each questions as |question|}}
            <li class="questionwidth">
                {{> questions question}}
            </li>
        {{/each}}
    </ol>
</div>

{{!-- <div>
    <h1 class="title">User Questions</h1>

    <ol id="questions-container" class="questions"></ol>
    {{#each questions as |question|}}
        {{> questions question}}
    {{/each}}
    </ol>



</div> --}}