
<div class="maindashboard">
    <article class="newquestionbtn">{{> newquestion}}</article>
    {{!-- <article class="search">
        <input id="search-input" type="text" placeholder="Please Search for Keywords">
        <button class="search-button" id="search-button">Search</button>
    </article> --}}
</div>
<br><br>
<h1 class="title">User Questions</h1>
<div class="container-fluid">
<ol id="questions-container" class="questions">
    {{#each questions as |question|}}
    <li class="questionwidth">
        {{> questions question}}
    </li>
    {{/each}}
</ol>
</div>