<div class="maindashboard">
    <article class="newpostbtn">{{> newpost}}</article>
    <article class="search">
        <input id="search-input" type="text" placeholder="Please Search for Keywords">
        <button class="search-button" id="search-button">Search</button>
    </article>
</div>
<br><br>
<h1 class="title">User Posts</h1>

<ol id="question-container" class="question">
    {{#each question as |question|}}
    <li class="questionwidth">
        {{> questions question}}
    </li>
    {{/each}}
</ol>