<article class="login-options">
<form class="login-form">
  <div class="login">
    <h4 class="">Sign In</h4>
    <label for="email-login">Email</label>
    <input type="text" class="email-login" id="email-login" required/>


    <label for="password-login">Password</label>
    <input type="password" class="password-login" id="password-login">
    <button type="submit" class="login-form-button">Sign In</button>
  </div>
</form>



<form class="signup-form">
  <div class="signup">
    <h4 class="">Sign Up!</h4>

     <label for="username-signup">Username</label>
    <input type="text" class="username-signup" id="username-signup">

     <label for="password-login">Email</label>
    <input type="email" class="email-signup" id="email-signup">

    <label for="password-signup">Password</label>
    <input type="password" class="password-signup" id="password-signup">

    <button type="submit" class="signup-form-button">Sign Up!</button>
  </div>
</form>
</article>
<script src="/javascript/login.js"></script>