<!-- Can only get to this page if logged in -->

<!-- Jumbotron -->
{{>jumbotron}}

<!-- selected question -->
<div class="single-question-container">
  {{> questions question}}
</div>


<!-- this is the form for new answers -->
<form class="answers">
  <div>
    <textarea name="answer-body" class""></textarea>
  </div>

  <div>
    <button type="submit">add answer</button>
    <button type="button" id="upvote-btn" class="upvote-btn">upvote <i class="fa fa-thumbs-up"></i></button>
  </div>
</form>


<!-- display answer -->
<div class="answers">
  <div class="ans-title">
    <h3>Answers</h3>
  </div>
  {{#each question.answers}}
  <section class="comment">
    <div class="meta">
      <b>{{user.username}}</b> on {{created_at}}
    </div>
    <div class="text">
      {{answer_text}}
    </div>
  </section>
  {{/each}}
  {{question.answers.length}} comment(s)
</div>

<script src="/javascript/answer.js"></script>
<script src="/javascript/vote.js"></script>

