body {
  background-color: wheat;
}

.title {
  color: rgb(6, 100, 143);
  text-align: center;
  display: flex;
  width: 50%;
  height: 200px;
  margin: auto;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: purple;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #3486eb;
}

form label {
  display: block;
}

.login-form {
  /* padding: 1rem 1.5em;
  border-radius: .5rem;
  background-color: grey;
  display: inline-block;
  width: 45%;
  margin: 25px;
  justify-content: center;
  align-items: center;
} */
  margin: auto;
  width: 50%;
  border: 3px solid rgba(61, 65, 61, 0.116);
  padding: 10px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.signup-form {
  width: 50%;
  border: 3px solid rgba(61, 65, 61, 0.116);
  padding: 10px;
  margin: auto;
}

/* padding: 1rem 1.5em;
    display: inline-block;
    border-radius: .5rem;
    background-color: grey;
    width: 45%;
    color: black;
  } */

.bottomLabel {
  position: relative;
  top: 300px;
  bottom: 0;
  left: 0;
  font-size: x-large;
}

.published-date {
  color: black;
}

.username {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
}

.questions-container {
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: bold;
}

.question-article {
  /* margin-right: 3%; */
  padding-left: 1em;
  padding-right: 2em;
}


.question-body {
  font-weight: normal;
  font-size: large;
}

.question-form {
  position: relative;
  align-items: center;
  align-self: center;
}

.question-title {
  color:blue;
}


.search {
  border-radius: 8px;
}

.searches {
  display: flex;
  position: absolute;
  right: 20px;
}

.navbar {
  padding: 10px;
  position: sticky;
  z-index: 100;
  /* background-color: rgb(6, 100, 143) !important; */
}

.secondarysearch {
  position: sticky;
  z-index: 1000;
  top: 0;
}

.nav-buttons {
  display: inline-flex;
  padding: 10px;
}

#button1 {
  margin-right: 10px;
}

.navbar-image {
  image-rendering: auto;
  z-index: 199px;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}